.glide__arrow {
  position: absolute;
  display: flex;
  align-content: flex-end;
  top: 30%;
  z-index: 2;
  font-size: 25px;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%); 
  line-height: 1;
}

.glide__arrow:focus {
    outline: none; 
}

.glide__arrow--right {
    right: 2em; }
